@import url("./normalize.css");

:root{
	--color-text:#666;
	--color-high-text:#ff5777;
	--color-tint:#ff8198;
	--color-background:#fff;
	--line-height:1.5;
	
	--large-size:50px
}

body{
	margin: 0;
	padding: 0;
}
